.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  /* background-color: rgba(0, 0, 0, 0.685); */
}
.container h3 {
  padding-bottom: 20px;
  font-size: 1.8rem;
}

.container p {
  font-weight: normal;
}

.container input {
    margin-top: 20px;
    padding: 7px;
    height: 40px;
    border-radius: 3px;
    border: none;
    -webkit-transition-duration: 0.3s;
    background-color: var(--blue);
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    box-shadow: 0 0 1em black;
  }
  
  .container input:hover{
    opacity: 90%;
  }
